@model Setting
<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

    </style>
</head>
<body>

    <h2>List </h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Logo</th>
            <th>Update</th>
        </tr>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.logo</td>
            <td><a asp-action="Update" asp-area="Admin" asp-controller="Setting" >Update</a></td>
            </tr>

    </table>

</body>
</html>





